/*
Colors used

Primary Color (Gold): #a3a27e;
Secondary Color (Black): #020303;
Accent Color (Grey): #a7a9ac;
 */

 body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  line-height: 1.6; /* Sets the line-height to 1.6 */
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

div {
  padding: 10px; /* Adds a 10px inner spacing to all sides*/
  margin: 10px; /* Adds a 10px outer spacing to all sides*/
}

a {
  color: #a3a27e;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:visited {
  /* visited link */
  color: #a3a27e;
}

a:active {
  /* selected link */
  color: #a3a27e;
}

button {
  /* overwrite browser defaults */
  border: none; /* reset the border */
  font-family: inherit; /* takes the font from the outer container */

  /* style button */
  background-color: #a3a27e;
  color: white !important;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  transition: 0.2s opacity;
}

button:hover,
button:focus {
  cursor: pointer; /* let's the mouse appear as hand when hovering over the button */
  opacity: 0.8; /* Reduces the opactiy of the button to 80% */
}
